# libraries and build artifacts
.DS_Store
node_modules
/dist

# testing output
/tests/coverage/
/tests/e2e/videos/
/tests/e2e/screenshots/

# private configuration
lib/config.js

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
