:root {
  --white: #fff;
  --base-lightest: #f0f0f0;  /* gray-5 */
  --base-lighter: #dcdee0;  /* gray-cool-10 */
  --base-light: #a9aeb1;  /* gray-cool-30 */
  --base: #71767a;  /* gray-cool-50 */
  --base-dark: #565c65;  /* gray-cool-60 */
  --base-darker: #3d4551;  /* gray-cool-70 */
  --base-darkest: #1b1b1b;  /* gray-90 */
  --ink: #1b1b1b;  /* gray-90 */

  --primary-lighter: #d9e8f6;  /* blue-10 */
  --primary-light: #73b3e7;  /* blue-30 */
  --primary: #005ea2;  /* blue-60v */
  --primary-vivid: #0050d8;  /* blue-warm-60v */
  --primary-dark: #1a4480;  /* blue-warm-70v */
  --primary-darker: #162e51;  /* blue-warm-80v */

  --error-lighter: #f4e3db;  /* red-warm-10 */
  --error-light: #f39268;  /* red-warm-30v */
  --error: #d63e04;  /* red-warm-50v */
  --error-dark: #b51d09;  /* red-60v */
  --error-darker: #6f3331;  /* red-70 */

  --disabled-light: #e6e6e6;  /* gray-10 */
  --disabled: #c9c9c9;  /* gray-20 */
  --disabled-dark: #adadad;  /* gray-30 */

  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;  /* 16px */
  --font-size-l: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 2rem;

  --space-xs: 0.125rem;
  --space-s: 0.25rem;
  --space-m: 0.5rem;  /* 8px */
  --space-l: 1rem;
  --space-xl: 2rem;
  --space-2xl: 4rem;
  --space-3xl: 8rem;
  --space-4xl: 16rem;

  --border-default: 1px solid var(--base);

  --full-height: calc(100vh - 52px);

  --z-index-controls: 99;
}

/* BOX SIZING */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* LAYOUT */
html,
body {
  height: 100vh;
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  padding: 0;
}

/* FLEX LAYOUT FIXES */
.max-height-fill {
  max-height: 100%;
}

.min-height-0 {
  min-height: 0;
}

.min-height-fill {
  min-height: 100%;
}

/* TYPOGRAPHY */
.label,
.subtitle-1,
.subtitle-2 {
  color: var(--v-secondary-base);
}

/* see https://webaim.org/techniques/css/invisiblecontent/ */
.sr-only {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

/* FORM ELEMENTS */
fieldset {
  border: none;
}

/* BORDERS */
.bt {
  border-top: var(--border-default);
}
.bl {
  border-left: var(--border-default);
}
.bb {
  border-bottom: var(--border-default);
}
.br {
  border-right: var(--border-default);
}

/* FONT SIZE */
.font-size-xs {
  font-size: var(--font-size-xs);
}
.font-size-s {
  font-size: var(--font-size-s);
}
.font-size-m {
  font-size: var(--font-size-m);
}
.font-size-l {
  font-size: var(--font-size-l);
}
.font-size-xl {
  font-size: var(--font-size-xl);
}
.font-size-2xl {
  font-size: var(--font-size-2xl);
}
